:root {
    --AlmostWhite: hsl(0, 0%, 98%);
    --MediumGray: hsl(0, 0%, 41%);
    --AlmostBlack: hsl(0, 0%, 8%);
}

body {
    background-color: var(--AlmostWhite);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}

.hamburger {
    display: none;
}

.navigation li {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navigation .nav {
    display: flex;
    align-items: center;
}

.navigation .nav ul {
    display: flex;
}

.navigation .nav ul li a {
    padding-left: 50px;
    text-decoration: none;
    color: var(--MediumGray);
    font-size: 15px;
    cursor: pointer;
}

.navigation .nav ul li a:hover {
    color: var(--AlmostBlack);
}

.navigation .nav-right ul {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
}

.navigation .nav-right ul {
    display: flex;
}

.navigation .nav-right ul li a {
    text-decoration: none;
    color: var(--MediumGray);
    font-size: 15px;
}

.navigation .nav-right button {
    background-color: var(--AlmostWhite);
    padding: 10px;
    border-radius: 10px;
}

.navigation .nav-right button a {
    text-decoration: none;
    color: var(--MediumGray);
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
}

.caret2 {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000;
    transition: 0.3s;
    position: relative;
    top: 0.5rem;
    left: 0.5rem;
    cursor: pointer;
}


/* 
  Rotate styles 
     Later added in javascript
   */

.caret-rotate {
    transform: rotate(180deg);
}

.caret2-rotate {
    transform: rotate(180deg);
}

.dropdown {
    width: auto;
    height: auto;
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #fff;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 4.5rem;
    left: 13%;
    transform: rotateX(-50%);
    display: none;
}

.dropdown .to-do,
.calender,
.reminder,
.planning {
    display: flex;
    gap: 10px;
    padding: 5px 8px;
}

.dropdown2 {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #fff;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 00.5em;
    position: absolute;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    top: 4.5rem;
    left: 24%;
    transform: rotateX(-50%);
    display: none;
    width: auto;
}

.dropdown li {
    display: flex;
    padding: 5px;
    font-size: 15px;
    color: var(--MediumGray);
}

.dropdown li:hover {
    color: var(--AlmostBlack);
    cursor: pointer;
}

.dropdown2 li {
    font-size: 15px;
    color: var(--MediumGray);
}

.dropdown2 li:hover {
    color: var(--AlmostBlack);
    cursor: pointer;
}


/* To be used in javascript */

.dropdown-open {
    display: block;
    opacity: 1;
}

.dropdown2-open {
    display: block;
    opacity: 1;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: flex-start; */
    justify-content: center;
}

article {
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article h1 {
    font-size: 70px;
    margin-bottom: 30px;
}

article p {
    line-height: 20px;
    margin-bottom: 30px;
    color: var(--MediumGray);
}

.left button {
    padding: 10px 15px;
    background-color: var(--AlmostBlack);
    margin-bottom: 50px;
    border-radius: 10px;
}

.left button a {
    text-decoration: none;
    color: var(--AlmostWhite);
}

.footer-images {
    padding-right: 10px;
}

main {
    display: flex;
}

.right {
    width: 50%;
    padding-top: 70px;
}

.right img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
}

main .right .mobile-image {
    display: none;
}


/* where reponsiveness starts */

@media screen and (max-width: 1033px) {
    article {
        width: 417px;
    }
}

@media screen and (max-width: 900px) {
    .dropdown img {
        object-fit: contain;
    }
    .nav ul img {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 20px;
        left: 300px;
    }
    .dropdown ul li a {
        /* padding-left: unset; */
    }
    .dropdown {
        position: unset;
        width: fit-content;
    }
    .dropdown2 {
        width: fit-content;
        position: unset;
    }
    .caret {
        top: -25.8px;
        left: 140px;
    }
    .caret2 {
        top: -26.6px;
        left: 140px;
    }
    .nav-left,
    .nav-right {
        display: none;
    }
    /* .navigation {
        /* justify-content: space-between;
        width: 90%; */
}

.hamburger {
    display: block;
}

article h1 {
    font-size: 50px;
}

.footer-images {
    display: table;
}

.navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    display: flex;
    z-index: 2;
    display: block;
}

.nav {
    justify-content: right;
}

.logo {
    display: none;
}

.nav ul {
    height: 100vh;
    width: 375px;
    background-color: #fff;
    flex-direction: column;
    /* padding-top: 100px;
    padding-left: 20px; */
}

ul li a {
    padding: 0.8rem 0;
}

@media screen and (max-width:375px) {
    .nav ul {
        width: 300px;
    }
    .nav ul img {
        left: 200px;
    }
    main .right .desktop-image {
        display: none;
    }
    main .right {
        width: 375px;
        height: auto;
        padding-top: 10px;
    }
    main .right .mobile-image {
        display: block;
        height: fit-content;
        object-fit: fill;
    }
    main {
        padding-block: 30px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .left {
        width: auto;
    }
    article {
        margin-top: 20px;
        text-align: center;
        align-items: center;
        width: unset;
        margin-left: unset;
    }
}

@media screen and (max-width: 740px) {
    main {
        flex-direction: column-reverse;
        align-items: center;
    }
    .left {
        width: 100%;
        align-items: center;
        padding: 20px 0;
    }
    .right {
        width: auto;
    }
    main .right .desktop-image {
        display: none;
    }
    main .right .mobile-image {
        display: block;
        height: fit-content;
        object-fit: fill;
    }
    article {
        width: unset;
        margin-left: unset;
        margin-top: unset;
        align-items: center;
    }
    article h1 {
        font-size: 70px;
    }
}